workflow_escalation_digest.json
{
  "name": "Scheduled Escalation Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * *"
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM escalations WHERE status = 'Pending';"
      },
      "name": "Supabase - Get Pending",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.length > 0 }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF - Any Pending?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Supabase - Get Pending'].json[0].user_id }}",
        "text": "={{ 'Daily Escalation Digest:\\n\\n' + $json.map(item => 'From: ' + item.sender + '\\nMessage: ' + item.message).join('\\n\\n---') }}",
        "additionalFields": {}
      },
      "name": "Telegram - Send Digest",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        850,
        250
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE escalations SET status = 'Sent' WHERE status = 'Pending';"
      },
      "name": "Supabase - Mark Sent",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1050,
        250
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase - Get Pending",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Get Pending": {
      "main": [
        [
          {
            "node": "IF - Any Pending?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Any Pending?": {
      "main": [
        [
          {
            "node": "Telegram - Send Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Send Digest": {
      "main": [
        [
          {
            "node": "Supabase - Mark Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
