workflow_gmail_drafter.json
{
  "name": "Gmail Extractor & AI Drafter",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3-8b-8192"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"Analyze this email and provide a short summary and sentiment: {{ $json.snippet }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Groq - Analyze Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_GROQ_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "llama3-8b-8192"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"user\", \"content\": \"Write a professional email reply to this email: {{ $node['Gmail Trigger'].json.snippet }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "name": "Groq - Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "resource": "draft",
        "operation": "create",
        "subject": "={{ 'Re: ' + $node['Gmail Trigger'].json.subject }}",
        "message": "={{ $json.body.choices[0].message.content }}",
        "options": {
          "replyTo": "={{ $node['Gmail Trigger'].json.from }}"
        }
      },
      "name": "Gmail - Create Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO corpus (content) VALUES ($1)",
        "additionalFields": {
          "queryParams": "={{ $node['Groq - Analyze Email'].json.body.choices[0].message.content }}"
        }
      },
      "name": "Supabase - Log Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Groq - Analyze Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Analyze Email": {
      "main": [
        [
          {
            "node": "Groq - Draft Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq - Draft Reply": {
      "main": [
        [
          {
            "node": "Gmail - Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail - Create Draft": {
      "main": [
        [
          {
            "node": "Supabase - Log Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
