n8n/nexustriage_workflow.json
{
  "name": "NexusTriage Master Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-email-scan",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "trigger-webhook",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "trigger-email-scan"
    },
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "minutes", "minutesInterval": 15 }]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 500]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT keyword FROM keywords",
        "options": {}
      },
      "id": "get-keywords",
      "name": "Get Keywords",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 400],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value FROM config WHERE key = 'groq_api_key'",
        "options": {}
      },
      "id": "get-groq-key",
      "name": "Get Groq API Key",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [480, 600],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "keyword-loop",
      "name": "Loop Keywords",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [720, 400]
    },
    {
      "parameters": {
        "filters": {
          "q": "={{ $json.keyword }} in:inbox"
        },
        "returnAll": false,
        "limit": 20,
        "options": {
          "format": "resolved"
        }
      },
      "id": "gmail-search",
      "name": "Search Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [960, 400],
      "credentials": { "gmailOAuth2": { "id": "2", "name": "Gmail" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT message_id FROM email_results WHERE message_id = '{{ $json.id }}'",
        "options": {}
      },
      "id": "check-processed",
      "name": "Check If Processed",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1200, 400],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "condition-not-processed",
              "leftValue": "={{ $json.length }}",
              "rightValue": "0",
              "operator": { "type": "number", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-new-email",
      "name": "If New Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1440, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Get Groq API Key'].json.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email analysis assistant. Return a JSON object with exactly two keys: 'sentiment' (one of Positive, Negative, Neutral, or Mixed) and 'summary' (a concise 2-3 sentence summary). Return ONLY valid JSON, no markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Analyze this email:\\n\\nSubject: {{ $json.subject }}\\n\\nBody: {{ $json.snippet }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "groq-analyze",
      "name": "Groq Analyze Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO email_results (keyword, sender, subject, sentiment, summary, message_id, has_attachments) VALUES ('{{ $node[\"Loop Keywords\"].json.keyword }}', '{{ $json.from }}', '{{ $json.subject }}', '{{ JSON.parse($node[\"Groq Analyze Email\"].json.choices[0].message.content).sentiment }}', '{{ JSON.parse($node[\"Groq Analyze Email\"].json.choices[0].message.content).summary }}', '{{ $json.id }}', {{ $json.payload && $json.payload.parts ? true : false }}) ON CONFLICT (message_id) DO NOTHING",
        "options": {}
      },
      "id": "save-email-result",
      "name": "Save Email Result",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1920, 300],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Get Groq API Key'].json.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a personal email assistant. Draft a professional, friendly reply to the following email. Write ONLY the raw reply body text. Start directly with the greeting. Do not include any meta-commentary.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Draft a reply to:\\n\\nSubject: {{ $json.subject }}\\n\\nBody: {{ $json.snippet }}\"\n    }\n  ],\n  \"temperature\": 0.7\n}",
        "options": {}
      },
      "id": "groq-draft",
      "name": "Groq Draft Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.from }}",
        "subject": "=Re: {{ $json.subject }}",
        "message": "={{ $node['Groq Draft Reply'].json.choices[0].message.content }}",
        "options": {
          "draft": true
        }
      },
      "id": "create-gmail-draft",
      "name": "Create Gmail Draft",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2400, 300],
      "credentials": { "gmailOAuth2": { "id": "2", "name": "Gmail" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO email_drafts (original_subject, original_sender, draft_body) VALUES ('{{ $json.subject }}', '{{ $json.from }}', '{{ $node[\"Groq Draft Reply\"].json.choices[0].message.content }}')",
        "options": {}
      },
      "id": "save-draft",
      "name": "Save Draft to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2640, 300],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "wa-webhook",
      "name": "WhatsApp Incoming",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 900],
      "webhookId": "whatsapp-incoming"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-message",
              "leftValue": "={{ $json.event }}",
              "rightValue": "messages.upsert",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-wa-message",
      "name": "Is Message Event?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [480, 900]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO wa_messages (sender_id, sender_name, body) VALUES ('{{ $json.data.key.remoteJid }}', '{{ $json.data.pushName || $json.data.key.remoteJid }}', '{{ $json.data.message.conversation || $json.data.message.extendedTextMessage?.text || \"\" }}') RETURNING id",
        "options": {}
      },
      "id": "save-wa-message",
      "name": "Save WA Message",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 900],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node['Get Groq API Key'].json.value }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a triage agent for WhatsApp messages. Analyze the message and return a JSON object with exactly four keys: 'intent' (one of 'General', 'Escalation', 'Spam', or 'Scam'), 'confidence' (integer 0-100), 'reason' (brief explanation), 'options' (JSON array of exactly 3 short reply strings if intent is General, otherwise empty array). Return ONLY valid JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Message: {{ $json.data.message.conversation || $json.data.message.extendedTextMessage?.text || '' }}\\nSender: {{ $json.data.pushName || $json.data.key.remoteJid }}\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"response_format\": { \"type\": \"json_object\" }\n}",
        "options": {}
      },
      "id": "groq-triage",
      "name": "Groq Triage WA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [960, 900]
    },
    {
      "parameters": {
        "jsCode": "const response = JSON.parse($input.first().json.choices[0].message.content);\nconst waData = $('Is Message Event?').first().json;\nconst msgId = $('Save WA Message').first().json.id;\n\nreturn [{\n  json: {\n    intent: response.intent,\n    confidence: response.confidence,\n    reason: response.reason,\n    options: response.options || [],\n    senderId: waData.data.key.remoteJid,\n    senderName: waData.data.pushName || waData.data.key.remoteJid,\n    messageBody: waData.data.message.conversation || waData.data.message.extendedTextMessage?.text || '',\n    dbMsgId: msgId\n  }\n}];"
      },
      "id": "parse-triage",
      "name": "Parse Triage Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 900]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=UPDATE wa_messages SET intent = '{{ $json.intent }}', confidence = {{ $json.confidence }}, reason = '{{ $json.reason }}', ai_options = '{{ JSON.stringify($json.options) }}'::jsonb WHERE id = {{ $json.dbMsgId }}",
        "options": {}
      },
      "id": "update-wa-triage",
      "name": "Update WA Triage",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1440, 900],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": {},
          "conditions": [
            {
              "id": "is-general",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "General",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route-intent",
      "name": "Is General?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1680, 900]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $node['Get Telegram Config'].json.chat_id }}",
        "text": "=💬 *New WhatsApp Message*\n👤 From: {{ $json.senderName }}\n📝 Message: {{ $json.messageBody }}\n\n🤖 AI Drafts:\n1️⃣ {{ $json.options[0] }}\n2️⃣ {{ $json.options[1] }}\n3️⃣ {{ $json.options[2] }}\n\n_Choose a draft or reply with custom text:_",
        "additionalFields": {
          "parse_mode": "Markdown",
          "replyMarkup": "={\n  \"inline_keyboard\": [\n    [{\"text\": \"1️⃣ Option 1\", \"callback_data\": \"wa_reply_0_{{ $json.dbMsgId }}\"}],\n    [{\"text\": \"2️⃣ Option 2\", \"callback_data\": \"wa_reply_1_{{ $json.dbMsgId }}\"}],\n    [{\"text\": \"3️⃣ Option 3\", \"callback_data\": \"wa_reply_2_{{ $json.dbMsgId }}\"}]\n  ]\n}"
        }
      },
      "id": "telegram-approval",
      "name": "Telegram Approval",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1920, 800],
      "credentials": { "telegramApi": { "id": "3", "name": "Telegram" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO escalations (sender, sender_id, message, intent, confidence, reason) VALUES ('{{ $json.senderName }}', '{{ $json.senderId }}', '{{ $json.messageBody }}', '{{ $json.intent }}', {{ $json.confidence }}, '{{ $json.reason }}')",
        "options": {}
      },
      "id": "save-escalation",
      "name": "Save Escalation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1920, 1000],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $node['Get Telegram Config'].json.chat_id }}",
        "text": "=🚨 *{{ $json.intent }} DETECTED ({{ $json.confidence }}% confidence)*\n👤 From: {{ $json.senderName }}\n📝 Message: {{ $json.messageBody }}\n🧠 Reason: {{ $json.reason }}",
        "additionalFields": { "parse_mode": "Markdown" }
      },
      "id": "telegram-alert",
      "name": "Telegram Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2160, 1000],
      "credentials": { "telegramApi": { "id": "3", "name": "Telegram" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT value as chat_id FROM config WHERE key = 'telegram_chat_id'",
        "options": {}
      },
      "id": "get-telegram-config",
      "name": "Get Telegram Config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [720, 1100],
      "credentials": { "postgres": { "id": "1", "name": "NexusTriage DB" } }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[ { "node": "Get Keywords", "type": "main", "index": 0 } ]]
    },
    "Every 15 Minutes": {
      "main": [[ { "node": "Get Keywords", "type": "main", "index": 0 } ]]
    },
    "Get Keywords": {
      "main": [[ { "node": "Get Groq API Key", "type": "main", "index": 0 } ]]
    },
    "Get Groq API Key": {
      "main": [[ { "node": "Loop Keywords", "type": "main", "index": 0 } ]]
    },
    "Loop Keywords": {
      "main": [
        [ { "node": "Search Gmail", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Search Gmail": {
      "main": [[ { "node": "Check If Processed", "type": "main", "index": 0 } ]]
    },
    "Check If Processed": {
      "main": [[ { "node": "If New Email", "type": "main", "index": 0 } ]]
    },
    "If New Email": {
      "main": [
        [ { "node": "Groq Analyze Email", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Groq Analyze Email": {
      "main": [[ { "node": "Save Email Result", "type": "main", "index": 0 } ]]
    },
    "Save Email Result": {
      "main": [[ { "node": "Groq Draft Reply", "type": "main", "index": 0 } ]]
    },
    "Groq Draft Reply": {
      "main": [[ { "node": "Create Gmail Draft", "type": "main", "index": 0 } ]]
    },
    "Create Gmail Draft": {
      "main": [[ { "node": "Save Draft to DB", "type": "main", "index": 0 } ]]
    },
    "WhatsApp Incoming": {
      "main": [[ { "node": "Is Message Event?", "type": "main", "index": 0 } ]]
    },
    "Is Message Event?": {
      "main": [
        [ { "node": "Save WA Message", "type": "main", "index": 0 } ],
        []
      ]
    },
    "Save WA Message": {
      "main": [[ { "node": "Get Telegram Config", "type": "main", "index": 0 } ]]
    },
    "Get Telegram Config": {
      "main": [[ { "node": "Groq Triage WA", "type": "main", "index": 0 } ]]
    },
    "Groq Triage WA": {
      "main": [[ { "node": "Parse Triage Result", "type": "main", "index": 0 } ]]
    },
    "Parse Triage Result": {
      "main": [[ { "node": "Update WA Triage", "type": "main", "index": 0 } ]]
    },
    "Update WA Triage": {
      "main": [[ { "node": "Is General?", "type": "main", "index": 0 } ]]
    },
    "Is General?": {
      "main": [
        [ { "node": "Telegram Approval", "type": "main", "index": 0 } ],
        [ { "node": "Save Escalation", "type": "main", "index": 0 } ]
      ]
    },
    "Save Escalation": {
      "main": [[ { "node": "Telegram Alert", "type": "main", "index": 0 } ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": "nexustriage-local"
  }
}
